packages:
  yum:
    - gcc-c++
    - make

sources:
  /home/ec2-user/redis: http://download.redis.io/releases/redis-5.0.5.tar.gz

commands:
  01_extract_redis:
    command: tar -xzf /home/ec2-user/redis/redis-5.0.5.tar.gz -C /home/ec2-user/redis
  02_redis_build:
    command: make -C /home/ec2-user/redis/redis-5.0.5
  03_redis_config:
    command: |
      sed -i 's/daemonize no/daemonize yes/' /home/ec2-user/redis/redis-5.0.5/redis.conf
      sed -i 's/# maxmemory <bytes>/maxmemory 500MB/' /home/ec2-user/redis/redis-5.0.5/redis.conf
      sed -i 's/# maxmemory-policy volatile-lru/maxmemory-policy allkeys-lru/' /home/ec2-user/redis/redis-5.0.5/redis.conf
  04_start_redis:
    command: /home/ec2-user/redis/redis-5.0.5/src/redis-server /home/ec2-user/redis/redis-5.0.5/redis.conf
